Repository MyEtherWallet/MyEtherWallet, pull requests merged in 2023-02, with the labels that each got.

#4497 devop: update analytics
  changelog/devop-4459.md
  changelog/devop-4497.md
  changelog/fix-4474.md
  changelog/fix-4478.md
  changelog/fix-4480.md
  changelog/fix-4491.md
  changelog/fix-4499.md
  changelog/ui-4472.md
  changelog/ui-4475.md
  changelog/ui-4482.md
  changelog/ui-4483.md
  changelog/ui-4485.md
  changelog/ui-4486.md
  changelog/ui-4488.md
  changelog/ui-4510.md
  fetchLists/lists/tokens.json
  package-lock.json
  package-test.js
  package.json
  src/assets/images/partners/buitl-w-rivet-light-bg.svg
  src/assets/images/partners/buitl-w-rivet-v2.svg
  src/assets/styles/GlobalStyles.scss
  src/core/components/AppPartnersBlock.vue
  src/dapps/aave-dapp/components/AaveAmountForm.vue
  src/dapps/aave-dapp/components/AaveTable.vue
  src/dapps/aave-dapp/components/overlays/AaveDepositOverlay.vue
  src/modules/access-wallet/ModuleAccessWalletHardware.vue
  src/modules/access-wallet/hardware/components/AccessWalletDerivationPath.vue
  src/modules/access-wallet/hardware/components/AccessWalletLedger.vue
  src/modules/analytics-opt-in/ModuleAnalytics.vue
  src/modules/buy-sell/components/BuyComponent.vue
  src/modules/buy-sell/components/SellComponent.vue
  src/modules/buy-sell/components/TokenSelect.vue
  src/modules/contract/ModuleContractInteract.vue
  src/modules/settings/ModuleSettings.vue
  src/views/components-default/CompanyCommunity.vue
  src/views/components-default/CompanyOurStory.vue
  src/views/components-default/CompanyWhatIsMew.vue
  src/views/components-default/HomeEnkrypt.vue
  src/views/components-default/HomeWhyMew.vue
  src/views/components-default/TheDefaultMobileNavigation.vue
Labels: Ready, v6

#4519 Devop/update packages
  changelog/devop-4519.md
  package-lock.json
  package.json
Labels: Devop, Ready

#4527 fix: 🐛 staging for rework tasks:
  package-audit.js
  package-lock.json
  package-test.js
  package.json
  src/components/mew-menu-popup/MewMenuPopup.vue
  src/components/mew-tools/MewTools.vue
  src/dapps/ens-manager-dapp/components/reverse/EnsReverseLookup.vue
  src/modules/access-wallet/hardware/components/AccessWalletDerivationPath.vue
  src/modules/global-modals/ModuleGlobalModals.vue
  src/modules/nft-manager/ModuleNftManager.vue
  src/modules/nft-manager/components/NftManagerSend.vue
  src/modules/settings/components/SettingsGasPrice.vue
Labels: Ready, Fixed

#4522 fix: 🐛 capitalization
  changelog/ui-4522.md
  package-lock.json
  package.json
  src/translations/careers/en_US.json
Labels: Devop, Ready

#4524 devop: 🔧 remove components file, add header to careers page
  changelog/devop-4446.md
  changelog/sentry-4496.md
  changelog/sentry-4501.md
  changelog/sentry-4502.md
  changelog/sentry-4503.md
  changelog/sentry-4505.md
  changelog/sentry-4506.md
  changelog/sentry-4507.md
  changelog/ui-4481.md
  changelog/ui-4508.md
  changelog/ui-4511.md
  changelog/ui-4524.md
  connections.js
  fetchLists/lists/tokens.json
  package-lock.json
  package-test.js
  package.json
  src/assets/images/networks/rootstock.svg
  src/core/components/AppAddrQr.vue
  src/core/components/AppQrCode.vue
  src/core/helpers/addressUtils.js
  src/core/mixins/enkryptMarketing.mixin.js
  src/dapps/ens-manager-dapp/components/reverse/EnsReverseLookup.vue
  src/modules/access-wallet/hardware/components/AccessWalletDerivationPath.vue
  src/modules/access-wallet/hardware/handlers/configs/configPaths.js
  src/modules/access-wallet/hardware/handlers/hardwares/ledger/appPaths.js
  src/modules/access-wallet/hardware/handlers/hardwares/ledger/config.js
  src/modules/access-wallet/hardware/handlers/hardwares/ledger/errorHandler.js
  src/modules/buy-sell/components/BuyProviderComponent.vue
  src/modules/confirmation/components/ConfirmationSwapTransactionDetails.vue
  src/modules/message/ModuleMessageVerify.vue
  src/modules/name-resolver/index.js
  src/modules/send/ModuleSend.vue
  src/utils/networks/nodes/index.js
  src/utils/networks/nodes/rootstock-ws.js
  src/utils/networks/tlds/ROOTSTOCK.js
  src/utils/networks/tlds/index.js
  src/utils/networks/types/ROOTSTOCK.js
  src/utils/networks/types/index.js
  src/views/layouts-default/TheAccessWalletLayout.vue
  src/views/layouts-default/TheCareersLayout.vue
  src/views/layouts-default/TheTeamLayout.vue
Labels: Devop, Ready

#4533 Devop/connections fix
  changelog/devop-4533.md
  changelog/feat-4531.md
  connections.js
  package-lock.json
  src/modules/balance/ModuleTokens.vue
  src/modules/balance/components/BalanceEmptyBlock.vue
Labels: Devop, Ready

#4526 Hotfix/swap matomo
  CHANGELOG.md
  package-lock.json
  package-test.js
  package.json
  src/core/components/AppCarousel.vue
  src/core/store/wallet/actions.js
  src/main/mainApp.vue
  src/main/matomo.js
  src/modules/access-wallet/ModuleAccessWalletSoftware.vue
  src/modules/analytics-opt-in/handlers/handlerAnalytics.mixin.js
  src/modules/balance/ModuleTokensValue.vue
  src/modules/confirmation/ModuleConfirmation.vue
  src/modules/swap/ModuleSwap.vue
  src/modules/swap/handlers/providers/mew-provider-class.js
  src/modules/toast/handler/handlerToast.js
  src/utils/web3-provider/methods/eth_sendTransaction.js
  src/views/TheWalletView.vue
  src/views/components-default/HomeEnkrypt.vue
  src/views/components-default/HomeLanding.vue
  src/views/components-default/TheDefaultHeader.vue
  src/views/components-wallet/EnkryptPromoSnackbar.vue
  src/views/components-wallet/TheWalletSideMenu.vue
  src/views/layouts-default/TheAccessWalletLayout.vue
Labels: Release, Ready

#4535 Devop/pull main
  CHANGELOG.md
  changelog/devop-4535.md
  package-lock.json
  package.json
  src/core/components/AppCarousel.vue
  src/core/store/wallet/actions.js
  src/main/mainApp.vue
  src/main/matomo.js
  src/modules/access-wallet/ModuleAccessWalletSoftware.vue
  src/modules/analytics-opt-in/handlers/handlerAnalytics.mixin.js
  src/modules/balance/ModuleTokensValue.vue
  src/modules/confirmation/ModuleConfirmation.vue
  src/modules/swap/ModuleSwap.vue
  src/modules/swap/handlers/providers/mew-provider-class.js
  src/modules/toast/handler/handlerToast.js
  src/utils/web3-provider/methods/eth_sendTransaction.js
  src/views/TheWalletView.vue
  src/views/components-default/HomeEnkrypt.vue
  src/views/components-default/HomeLanding.vue
  src/views/components-default/TheDefaultHeader.vue
  src/views/components-wallet/EnkryptPromoSnackbar.vue
  src/views/components-wallet/TheWalletSideMenu.vue
  src/views/layouts-default/TheAccessWalletLayout.vue
Labels: Devop, Ready
